<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="../indexEstudiantes.html" class="brand-link dinamic-link">
        <span class="brand-text font-weight-light">Mi Proyecto Web</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <li class="nav-item">
                    <a href="alumnos.html" class="nav-link dinamic-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Alumnos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="inscripciones.html" class="nav-link dinamic-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>Inscripciones</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="historial-inscripciones.html" class="nav-link dinamic-link">
                        <i class="nav-icon fas fa-history"></i>
                        <p>Historial de Inscripciones</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>